@model DAL.Entities.Laboratory

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Laboratory</h2>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Address</dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-success" />
    <input type="button" name="action" value="Cancel" onclick="location.href='@Url.Action("Laboratories", "Home")'" class="btn btn-default" />
}

