@{
    ViewBag.Title = "GroundWater";
}

<div class="jumbotron">
    <h1>GroundWater</h1>
    <p class="lead">System for initial processing of intakes, storage of indicators' values of the groundwater condition</p>
    
</div>

