@{
    ViewBag.Title = "Google Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
@*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

@*!!!!!!!!!!!!!!!!!!*@
@*INSERT YOUR GOOGLE KEY INSTEAD OF MINE ........ *@
@*TO GET GOOGLE KEY USE ACCOUNT GMAIL AND GO THERE - https://developers.google.com/maps/documentation/javascript/*@
<script async defer src="https://maps.googleapis.com/maps/api/js?key=........&callback=initMap"></script>


@*RESOURCES TO READ:
    https://developers.google.com/chart/interactive/docs/
    https://developers.google.com/chart/interactive/docs/gallery/map*@


<h2>WaterIntekes on Google Maps</h2>
<div id="map" style="width: 900px; height: 500px">MAP</div>

<script>

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }

    function createMarker(options, html, infoWindow) {
        var marker = new google.maps.Marker(options);
        if (html) {
            google.maps.event.addListener(marker, 'click', function () {
                if (marker.getAnimation() !== null) {
                    marker.setAnimation(null);
                    infoWindow.close();
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                    infoWindow.setContent(html);
                    infoWindow.open(options.map, this);
                }
            });
        }
        return marker;
    };

    function createMap(map, infoWindow) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var options = {
                    position: pos,
                    map: map,
                    icon: {
                        path: "M27.648 -41.399q0 -3.816 -2.7 -6.516t-6.516 -2.7 -6.516 2.7 -2.7 6.516 2.7 6.516 6.516 2.7 6.516 -2.7 2.7 -6.516zm9.216 0q0 3.924 -1.188 6.444l-13.104 27.864q-0.576 1.188 -1.71 1.872t-2.43 0.684 -2.43 -0.684 -1.674 -1.872l-13.14 -27.864q-1.188 -2.52 -1.188 -6.444 0 -7.632 5.4 -13.032t13.032 -5.4 13.032 5.4 5.4 13.032z",
                        scale: 0.6, //размер
                        strokeWeight: 1.2, //толщина контура
                        strokeColor: 'darkblue', //цвет контура
                        strokeOpacity: 0.2, //прозрачность контура
                        fillColor: 'white', //цвет
                        fillOpacity: 0.5, //прозрачность
                    },
                    animation: google.maps.Animation.DROP
                };
                createMarker(options, 'Location found.', infoWindow);
                //infoWindow.setPosition(pos);
                //infoWindow.setContent('Location found.');
                map.setCenter(pos);

            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    };


    function initMap() {
        //var uluru = { lat: 50.363, lng: 30.044 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4
            //center: uluru
        });

        var infoWindow = new google.maps.InfoWindow({ map: map });
        var markers = [];
        createMap(map, infoWindow);

        $.getJSON('@Url.Action("GetMap", "Home")', function (result) {
            if (result.Values.length) {
                $.each(result.Values, function (index, c) {
                    var marker = createMarker({
                        position: { lat: c.X, lng: c.Y },
                        map: map,
                        title: c.Text,
                        icon: {
                            path: "M27.648 -41.399q0 -3.816 -2.7 -6.516t-6.516 -2.7 -6.516 2.7 -2.7 6.516 2.7 6.516 6.516 2.7 6.516 -2.7 2.7 -6.516zm9.216 0q0 3.924 -1.188 6.444l-13.104 27.864q-0.576 1.188 -1.71 1.872t-2.43 0.684 -2.43 -0.684 -1.674 -1.872l-13.14 -27.864q-1.188 -2.52 -1.188 -6.444 0 -7.632 5.4 -13.032t13.032 -5.4 13.032 5.4 5.4 13.032z",
                            scale: 0.6,
                            strokeWeight: 0.2,
                            strokeColor: 'black',
                            strokeOpacity: 1,
                            //fillColor: 'aqua',
                            fillColor: c.Color,
                            fillOpacity: 0.85,
                        },
                        animation: google.maps.Animation.DROP
                    }, c.Text, infoWindow);
                    markers.push(marker);
                });
            };
            var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });


        });

    };
</script>



