@using WebApp.Models
@model StatisticModel

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@*RESOURCES TO READ:
https://developers.google.com/chart/interactive/docs/
https://developers.google.com/chart/interactive/docs/gallery/map*@


<h2>Statistics</h2>
<p>Station Id: @Model.Id</p>
<p>Period: @Model.MonthAmount months</p>
<p>Indicator #: @Model.Indicator</p>
<div id="linechart" style="width: 900px; height: 500px"></div>



@*Chart*@
@*http://www.c-sharpcorner.com/UploadFile/4d9083/how-to-create-google-charts-with-mvc-4/
    https://developers.google.com/chart/interactive/docs/reference*@

<script>

        google.charts.load('current', { 'packages': ['line'] });
        //google.load('visualization', '1.0', { 'packages': ['line'], 'callback': drawChart });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            
            //local data
            var dataLocal = new google.visualization.DataTable();
            dataLocal.addColumn('datetime', 'Date');
            dataLocal.addColumn('number', 'Value');

            dataLocal.addRows([
              [new Date(2015, 1), 10],
              [new Date(2015, 2), 13],
              [new Date(2015, 3), 22],
              [new Date(2015, 4), 15],
              [new Date(2015, 5), 18],
              [new Date(2015, 6), 7],
              [new Date(2015, 7), 20]
            ]);

            //mvc data
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Value');

            var options = {
                chart: {
                    title: 'Dynamic of indicate',
                    subtitle: 'x - data, y - concentration'
                },
                width: 900,
                height: 500
            };

            var path = '@Html.Raw(Url.Action("GetLineChartStatistic", "Home", new { station = Model.Id, monthAmount = Model.MonthAmount, indicator = Model.Indicator }))';
            // /Home/GetLineChartStatistic?station=1&monthAmount=3&indicator=1
     
            $.getJSON(path, function (result) {
                if (result.Values.length) {
                    $.each(result.Values, function (index, c) {
                        data.addRow(
                            [new Date(c.Year, c.Month), c.Value]
                        );
                    });
                };
            });


            var chart = new google.charts.Line(document.getElementById('linechart'));

            // pass dataLocal or data to get local data source or mvc data source
            //chart.draw(dataLocal, google.charts.Line.convertOptions(options));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }
  
</script>


